<div class="mdl-cell mdl-cell--12-col">
  <!-- Admin Menu card -->
  <%= render 'static_pages/admin_cards/admin_menu_card' %>
</div>

<div class="mdl-cell mdl-cell--4-col">
  <!-- walker cards -->
  <%= render '/static_pages/admin_cards/walker' %>
</div>

<div class="mdl-cell mdl-cell--4-col">
  <!-- Testimonials -->
  <%= render '/static_pages/admin_cards/testimonials' %>
</div>

<div class="mdl-cell mdl-cell--4-col">
  <!-- Services Cards -->
  <%= render '/static_pages/admin_cards/services' %>
</div>
