$background-color-main: lightgray;
$background-color-admin: lightgreen;
$background-color-highlight: yellow;
$background-color-header: darkgrey;
$background-color-contact: lightgray;
$background-color-contact-form: lightgray;
$background-color-footer: #36454f;

$font-color-warning: red;
$font-color-welcome: white;
$font-color-edit: pink;

$star-color: gold;
