$background-color-main: lightgray;
$background-color-admin: lightgreen;
$background-color-header: blue;
$background-color-footer: green;

$font-color-warning: red;
$font-color-welcome: purple;
$font-color-edit: pink;
