_.footer-content {
  max-width: $application_width;
  background-color: $background-color-footer;
}

.footer-less-padding	{
	padding-top: 8px;
	padding-bottom: 12px;

	.icon 	{
		margin-top: -8px;
	}

	#yelp-icon	{
		padding-top: 2px;	
	}
}