.mdl-layout__content {
  flex: 1 0;
}

.admin-coloring {
  background-color: $background-color-admin;
}

.site-coloring {
  // background-color: $background-color-main;
}

.walker-image {
  background: asset-data-url("walk.jpg") no-repeat center / cover fixed;
}

.clear-card-background {
  background-color: rgba(0,0,0,0.1);
  div {
    color: white;
  }
}

.faded-card-background {
  background-color: rgba(0,0,0,0.5);
  div {
    color: white;
  }
}

.mdl-layout__drawer-button{
    color: $background-color-highlight;
    .material-icons {
      font-size: 35px;
    }
    @media (min-width: 1025px) {
      display: none
    }
}

.mdl-mini-footer {
  @media (max-width: 1025px) {
    display: none
  }
}
