// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.services-card-photo {
  min-height: 300px;
}

.services-card-title-text {
  align-self: baseline;
}

.wide-dialog {
  width: 75%;
}
