.font-color-warning {
  color: $font-color-warning;
}

.font-color-edit {
  color: $font-color-edit;
}

.font-color-welcome {
  color: $font-color-welcome;
}

.show-white-space {
  white-space: pre-wrap;
}
