// Place all the styles related to the Walkers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.click-open-icon	{
	position: absolute;
	right: 0;
	top: 0;
}

.walker-list-body	{
	display: none;
	.walker-pic	{
		height: 200px;
		width: 200px;
		float: left;
		margin-right: 12px;
	}
}